# ide
.vscode
.idea

# libs
vendor.protogen/*
!vendor.protogen/*.md

# bin
bin

# py
*venv
*__pycache__

# ml
*.pkl
*.pth
*.pt

# private
*.key
*.pem
*.env

# weights
*weights
*test
*test_data

# mask template (T1)
ml_service/ml_service/models/nnunet/template_mask.tif